.main_section_style {
  background-color: #f0f3f2;
  /* background-color: black !important; */
  /* min-height: calc(100vh - 60px); */
  color: #0aad0a;
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.alert {
  height: 40px !important;
  padding: 5px 10px !important;
}
