.main_section_style {
  background-color: #f0f3f2;
  /* height: calc(calc(100vh - 60px) - 10vh); */
  padding: 3rem;
  color: #0aad0a;
  display: grid;
  place-items: center;
}

.main_section_style form {
  width: 50%;
  margin-inline: auto;
}
